<%= simple_form_for @effect, :html => {:multipart => true} do |f| %>
	<div class="field">
    	<%= f.input :title %>
	</div>

	<div class="field">
		<%= f.input :content, :input_html => {:size => "30x3"} %>
	</div>

	<div class="file_field">
		<%= f.file_field :efx %>  
	</div>

	<div class="actions">
		<%= f.submit :subir %>
	</div>

<% end %>
