<h1>Agregar nuevo efecto</h1>

<% if user_signed_in? %>
    autenticado como <%= current_user.email %>.
	    No eres tu?

    <%= link_to('Salir', destroy_user_session_path, :method => :delete) %>

<%= render 'form' %>

<%= link_to 'Back', effects_path %>

<% else %>
        <%= link_to "Regístrate", new_user_registration_path %> or
        <%= link_to "Iniciar Sesión ", new_user_session_path %>
<% end %>
