<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
    <%= @effect.title %>
</p>

<p>
  <b>Content:</b>
    <%= @effect.content %>
</p>

<p>
  <b>User:</b>
    <%= @effect.user.email %>
</p>

 <p>
<b>efx:</b>
   <%= link_to 'Escuchar', "#{@effect.efx}" %> |
   <%= link_to "Descargar", :action =>'download', :controller =>'effects',:id => @effect %>
</p>

<% if user_signed_in? and current_user == @effect.user%>
	<%= link_to 'Editar', edit_effect_path(@effect) %> |
<% end %>
	<%= link_to 'Back', effects_path %>

