<h1>M-MIX!</h1>
<!--p>Find me in app/views/ppal/index.html.erb</p -->

<% if user_signed_in? %>
        autenticado como <%= current_user.email %>.
        No eres tu?
<%= link_to('Salir', destroy_user_session_path, :method => :delete) %>

<p><%= link_to 'efectos', effects_path %></p>

<p><%= link_to 'pistas', tracks_path %></p>

<p><%= link_to 'Torneos', tournaments_path %></p>

<p><%= link_to 'Editar datos', edit_user_registration_path %></p>
												        
<p><!--%= link_to 'perfil', current_user %--></p>

<% else %>
<%= link_to "Regístrate!", new_user_registration_path %>
Si aun no tienes cuenta | o
<%= link_to "Inicia Sesión", new_user_session_path %> 
Para acceder a tu cuenta M-MIX! |
<% end %>
